.navigation {
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    top: 60px;
  }
  
  .nav-button {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    background-color: transparent;
    transition: background-color 0.3s;
    
  }
  
  .nav-button:hover {
    color: rgba(255, 255, 255, 0.45);
  }
  